<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="tools-list">
        <ul>
          <li>
            <img src="assets/images/Rectangle 35.png" alt="">
            <h2>Chatbot Builder</h2>
            <p>建立智能化的聊天機器人，解答常見問題、提供客戶支援、收集反饋等。</p>
            <div class="tools-ai">
              <p>AI 模型</p>
              <span>卡卡</span>
              <div class="tools-tag">
                <p>#聊天</p>
                <span class="material-icons">share</span>
              </div>
            </div>
          </li>
          <li>
            <img src="" alt="">
            <h2></h2>
            <p></p>
            <img src="" alt="">
            <h2></h2>
            <p></p>
            <div class="tools-ai">
              <p></p>
              <span></span>
              <div class="tools-tag">
                <p></p>
                <span></span>
              </div>
            </div>
          </li>
          <li>
            <img src="" alt="">
            <h2></h2>
            <p></p>
            <img src="" alt="">
            <h2></h2>
            <p></p>
            <div class="tools-ai">
              <p></p>
              <span></span>
              <div class="tools-tag">
                <p></p>
                <span></span>
              </div>
            </div>
          </li>
          <li>
            <img src="" alt="">
            <h2></h2>
            <p></p>
            <img src="" alt="">
            <h2></h2>
            <p></p>
            <div class="tools-ai">
              <p></p>
              <span></span>
              <div class="tools-tag">
                <p></p>
                <span></span>
              </div>
            </div>
          </li>
          <li>
            <img src="" alt="">
            <h2></h2>
            <p></p>
            <img src="" alt="">
            <h2></h2>
            <p></p>
            <div class="tools-ai">
              <p></p>
              <span></span>
              <div class="tools-tag">
                <p></p>
                <span></span>
              </div>
            </div>
          </li>
          <li>
            <img src="" alt="">
            <h2></h2>
            <p></p>
            <img src="" alt="">
            <h2></h2>
            <p></p>
            <div class="tools-ai">
              <p></p>
              <span></span>
              <div class="tools-tag">
                <p></p>
                <span></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="box"></div>
  </header>

  <%- contents %>

  <footer class="footer">
    footer
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
